body {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    background-color: #AEC0C6;
    padding: 0px;
    margin-top: 2px;
    margin-left: 2px;
}


.produto, .preco, .local {

  background-color: #EF7A00;
  border: 0px;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.campodeform{
  border: 0px;
}
.containerform, .form {
  background: #028092;
  position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  padding:20px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 1px solid #000000;
  display: block;
}
.send {
  position:absolute;
  right:10px;
  background-color: #EF7A00;
  border: 0px solid #000000;
  border-bottom: 1px solid #000000;
  font-size: 1.1em;
  color: #ffffff;
}
.usuario{
  background-color: #EF7A00;
  border: 0px solid #000000;
  border-bottom: 1px solid #000000;
  font-size: 1.1em;
  color: #ffffff;
}
a.links:link, a.links:visited, a.links:hover, a.links:active {
  color: #ffffff;
  //font-size: 0.6em;
}
p.textolink {
  color: #ffffff;

  font-size: 0.6em;
  padding: 0px;
}
.sucessodiv {
  width: 200px;
  height: 200px;
  background-color: #ff0000;
  color: #ffffff;
  position:absolute;
  top:50%;
  left:50%;
  padding:20px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 1px solid #000000;

}
